.botaoRotulo{
    margin: 5px;
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius:5px;
    width: 60px;
    background-color:rgba(234,56,72,255);
    border: none;
}

.valLogo{ 
    width:120px;
    height:90px;
}
.rotulo{
    width:auto;
    height:120px;
    background-color: rgba(16,22,34,255);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .listaArmas{
     color:#fff;
     
 }



  
  ul{
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center;
      background-color: rgba(16,22,34,255);
      
      
  }

  li{
      display: flex;
      flex-direction:column;
      align-items: center;
      margin: 20px 10px;
      background-image: url(/img/valorant-logo.png); 
      background-size: 250px;
      background-position: center;
      background-repeat: no-repeat;
  }

  li p{
      margin:10px 0;
      font-family:'Montserrat', sans-serif;
       font-weight: bold,800;
  }
  

  h2{
      margin-bottom:60px;
      font-family:'Montserrat', sans-serif;
    font-weight: bold,800;
      
  }

  li img{
      width: auto;
      height: 100px;
      margin-bottom: 25px;    
      
  }

  .weapon-card{
    margin-bottom: 20px;
    margin-left:50px;
    width:auto;
    height:300px;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    padding:20px;
    border: 8px solid #000000;
 border-radius: 24px 24px 0px 0px;
    background-color:rgba(234,56,72,255);
    transition: 1s;
    
  }

  