
.rotulo{
  width:auto;
  height:120px;
  background-color: rgba(16,22,34,255);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.botaoRotulo{
    margin: 5px;
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius:5px;
    width: 60px;
    background-color:rgba(234,56,72,255);
    border: none;
}

.valLogo{ 
    width:120px;
    height:90px;
}

.style-box p{
    word-break: break-all;
    white-space: normal;
    font-weight: bold;
    color: #000;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    
}

.style-box h2{
    font-family:'Montserrat', sans-serif;;
    font-weight: bold,800;
    
  
}


.style-box {
   margin-bottom: 20px;
   margin-left:50px;
   width:250px;
   height:350px;
   height:auto;
   display:flex;
   flex-direction: column;
   align-items: center;
   border: solid;
   padding:20px;
   border: 8px solid #000000;
border-radius: 24px 24px 0px 0px;
   background-color:rgba(234,56,72,255);
   transition: 1s;
   
}

.style-box:hover,style-box h2{
    width:350px;
   
   text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, -4px 22px 5px rgba(0,0,0,0.7);


}

#listaAgents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

}


#agent-image {
    border: 10px double rgba(0,0,0,0.86);
border-radius: 27px 27px 27px 27px;
    width: 150px;
    height: 150px;
    background-color:rgba(16,22,34,255);
}
