body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    background: rgb(35, 31, 99);
    background: linear-gradient(180deg, rgba(35, 31, 99, 1) 0%, rgba(5, 4, 75, 1) 4%, rgba(101, 101, 186, 1) 11%, rgba(0, 212, 255, 1) 28%, rgba(0, 212, 255, 1) 72%, rgba(101, 101, 186, 1) 89%, rgba(5, 4, 75, 1) 96%, rgba(35, 31, 99, 1) 100%);
    color: white;
    padding: 5px 0;
}

.repos-section {
    text-align: center;
}

.repos-item {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 5px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    background: url(https://s3.envato.com/files/a4c2e1aa-9c57-4516-8d8b-9ae80aae23a5/inline_image_preview.jpg);
    background-size: cover;
}

.repos-item:hover {
    animation-name: expand;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    100% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
}


.repos-item:active {
    border-color: #088C19;
}

#portfolio-page {
    text-decoration: underline;
    font-size: 1.1em;
    color: orange;
}