body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
main{
    background: rgb(35,31,99);
    background: linear-gradient(180deg, rgba(35,31,99,1) 0%, rgba(5,4,75,1) 4%, rgba(101,101,186,1) 11%, rgba(0,212,255,1) 28%, rgba(0,212,255,1) 72%, rgba(101,101,186,1) 89%, rgba(5,4,75,1) 96%, rgba(35,31,99,1) 100%); 
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.title{
    text-align: center;
}

.resume{
    /* margin-top: 72px;
    text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume-title:first-letter{
	font-weight: bold;
}
.resume-title:before{
	content:  " [ 💻 ";
}
/* .resume-text{
    padding-top: 4rem;
} */
.btn-about, .btn-portfolio{
    background-color: rgb(35,31,99);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.btn-about a, .btn-portfolio a{
    color: white;
    text-decoration: none;
}
.btn-about:hover, .btn-portfolio:hover{
    background-color: rgb(5,4,75);
}
#fotoHenry{
    width: 11rem;
    height: 13rem;
    float: left;
    margin: 20px;
    /* box-shadow: #000000 10px 10px 10px 5px; */
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.tecnologies-section{
    text-align: center;
}
.tecnologies-title:first-letter{
	font-weight: bold;
}
.tecnologies-title:before{
    content:  " [ 💻 ";
}
.tecnologies-title:after{
    content: " ]";
}
.tecnologies {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
    transform: translate(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {

    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
    }
}

.techs {
    display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 5px 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.techs div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.techs:hover {
	border-color: #C78C19;
}

.techs:active {
	border-color: #088C19;	
}

.techs:hover h2 {
	font-size: 34px;
}

.techs img{
    float: left;
}

.techs h2 {
    font-size: 30px;
	font-weight: bold;
}
/* .resume-text{
    margin-top: 10px;
} */

#index-page{
    text-decoration: orange underline;
    font-size: 1.1em;
    color: orange;
}