html{
    min-height: 100%;
}
body{
    margin: 10;
    display: fill;
    grid-template-rows: 1fr 50px;
    background: linear-gradient(to bottom, #7927b2, #fb3182);
    justify-content: center;
    align-items: center;
  }
h1{
    text-align: center;
    width: 480px;
    margin: 0 auto;
    background-color: white;
}
.convertor{
    width: 1024px;
    height: 720px;
    margin: 0 auto;
    background-color: wheat;
    border-radius: 10px;
    border-color: white;
    text-align: center;
}
.rate, .convert-type{
    background-color: lightblue;
    font-size: 40px;
    display: inline-block;
    margin-right: 5px;
}
.rate-input{
    width: 248px;
    height: 50px;
    font-size: 30px;
    display: inline-block;
    margin-right: 5px;
}
.value-input,output{
    width: 240px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    border-color: white;
    text-align: center;
}
button{
    width: 160px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border-color: white;
    text-align: center;
}
button:hover{
    background-color: lightblue;
}
.conversor-moeda{
    margin: 20px;
}
.image{
    width: 300px;
    height: 300px;
}
