body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
main{
    background: rgb(35,31,99);
    background: linear-gradient(180deg, rgba(35,31,99,1) 0%, rgba(5,4,75,1) 4%, rgba(101,101,186,1) 11%, rgba(0,212,255,1) 28%, rgba(0,212,255,1) 72%, rgba(101,101,186,1) 89%, rgba(5,4,75,1) 96%, rgba(35,31,99,1) 100%); 
    color: white;
}