body{
    display: inline-block;
}
.area{
    display: flex;
    padding: 15px;
    background-color: lightblue;
    user-select: none;
}
.click-here{
    background-color: lightgreen;
    padding: 15px;
    border-radius: 5px;
}
.clicks{
    padding: 15px;
    justify-content: cente;
}
#reset:hover{
    margin: 20px;
    background-color: #a69c9c;
}
#otherArea{
    background-color: lightcoral;
}